html {
  scroll-behavior: smooth;
}

#title {
  background-color: #ff4c68;
  color: black;
}

#secondtitle {
  background-color: white;
  color: black;
}
#thirdtitle {
  background-color: white;

  color: black;
}
#thirdtiletext {
  color: #c30934;
}
.title-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #c30934;
}
#sendb {
  z-index: 1;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #da335a;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 6rem;
  line-height: 1.5;
  color: white;
}
.bold {
  color: #c30934;
}
.bold2 {
  color: orange;
}
.small-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid {
  padding: 3% 15% 7%;
}

#firstpage {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
}
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

.title-image {
  width: 130%;
  position: auto;
  padding-top: 100px;
  margin-bottom: -60%;
  height: auto;
  top: -150px;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}
p {
  color: black;
}

#features {
  padding: 7% 15%;
  background-color: black;
  position: relative;
  z-index: 1;
}
.feature-box {
  text-align: center;
}
#carousel {
  text-align: center;
  /* background-color: #ef8172; */
  background-color: white;
  height: 100vh;

  color: black;
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

h1 {
  text-align: center;
}
.carousel-img {
  float: left;
  width: 40%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#footer {
  background-color: #fff;
  color: grey;
  text-align: center;
  padding: 7% 15%;
}
.download-button {
  margin: auto 36%;
  white-space: nowrap;
  text-align: center;
}
.custom {
  margin-top: 20px;
}
.custom2 {
  color: #c30934;
}
.globe-img {
  float: right;
  width: 115%;
  padding-left: 150px;
}
.shopping-img {
  float: righ;
  width: 70%;
  margin-left: 80px;
}
.doctor-img {
  float: left;
  width: 100%;
  margin-left: 80px;
  position: absolute;
  top: -40px;
}
.custom-heading {
  margin-bottom: 50%;
}
.logo {
  width: 5%;
  position: relative;
  left: -10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*footer*/
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

#about-footer {
  color: #c30934;
}
